In [1]:
import numpy as np
import pandas as pd

In [8]:
cat_id = pd.read_csv("categories_id.csv")
com_id = pd.read_csv("comunas_id.csv")
fel = pd.read_csv("felonies.csv")

In [6]:
cat_id.set_index("felony_id")
fel.set_index("felony_id")

           year  comuna_datachile_id  cases
felony_id
1          2005                    1   18.0
2          2005                    1    1.0
3          2005                    1  334.0
4          2005                    1    4.0
5          2005                    1   30.0
...         ...                  ...    ...
10         2016                  344   27.0
11         2016                  344    3.0
12         2016                  344   24.0
13         2016                  344    0.0
14         2016                  344    0.0

[58128 rows x 3 columns]

In [7]:
fel2 = fel.join(cat_id,on="felony_id",how='inner')

ValueError: columns overlap but no suffix specified: Index(['felony_id'], dtype='object')